<!DOCTYPE html>
<html>

<head>
    <title>Let's Chat!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <h1>Lets Chat!</h1>
    </header>

    <div class="container">
        <h1>Ask me anything</h1>

        <form method="POST" action="/result">
            <input type="text" name="message" id="message" placeholder="Enter your question or prompt" required>
            <button type="submit">Submit</button>
        </form>

        <a href="/">Ask another question or prompt</a>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>